@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .mask-gradient-x {
    mask-image: linear-gradient(
      to left,
      transparent 0%,
      black 25%,
      black 75%,
      transparent 100%
    );
  }

  .mask-gradient-y {
    z-index: 1;
    mask-image: linear-gradient(to top, white 75%, transparent 100%);
  }

  .mask-repeat-x {
    mask-repeat: repeat-x;
  }

  .mask-repeat-y {
    mask-repeat: repeat-y;
  }

  .subtract-scrollbar-width {
    width: calc(100% - var(--scrollbar-width, 30px));
  }
}

*::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #505050 !important;
  border-radius: 50px !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #383838 !important;
  border-radius: 50px !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c !important;
}
